.login-form .btn.btn-primary.custom-btn-google {
  background-color: skyblue;
  border-color: #6eb4d0;
}
.login-form .btn.btn-primary.custom-btn-fb {
  background-color: slateblue;
  border-color: #39289f;
}
