.cart-icon {
  display: inline-flex;
  width: auto;
  cursor: pointer;
  position: relative;
  height: 20px;
  text-align: center;
}
.shopping-icon {
  width: 26px;
  height: 26px;
}
.item-count {
  position: absolute;
  font-size: 12px;
  top: -12px;
  left: 0;
  right: 0;
}
