.main-container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
@media only screen and (min-width: 1200px) {
  .main-container {
    width: 1500px;
  }
}

@media screen and (min-width: 1800px) {
  .main-container {
    max-width: 1800px;
  }
}
